# The code owners file

# Assets (@bridges-anime/images & @bridges-anime/styles)
/app/assets/images/ @bridges-anime/images
/app/assets/stylesheets/ @bridges-anime/styles
/postcss.config.js @bridges-anime/styles

# Community files (@lunaisnotaboy)
/.github/ @lunaisnotaboy
/README.md @lunaisnotaboy
/CODE_OF_CONDUCT.md @lunaisnotaboy
/LICENSE @lunaisnotaboy
/CODEOWNERS @lunaisnotaboy

# JS stuff (@bridges-anime/javascript)
/package.json @bridges-anime/javascript
/yarn.lock @bridges-anime/javascript
/babel.config.js @bridges-anime/javascript
/app/javascript @bridges-anime/javascript

# Ruby (@bridges-anime/rails)
*.rb @bridges-anime/rails
/Gemfile @bridges-anime/rails
/Gemfile.lock @bridges-anime/rails
/app/views/ @bridges-anime/rails
/app/channels/ @bridges-anime/rails
/app/controllers/ @bridges-anime/rails
/app/helpers/ @bridges-anime/rails
/app/jobs/ @bridges-anime/rails
/app/mailers/ @bridges-anime/rails
/app/models/ @bridges-anime/rails
